.bg-img-container {
    position: relative;
}

.bg-img img {
    width: 100%;
    margin: auto;
    height: auto;
    
   /*max-width: 50vw;
    max-height: 50vh;*/
}

.about-title {
    position: absolute;
    top: 30vmin;
    left: 5rem;
    color: var(--third-color);
    /*font-size: 5rem;*/
    font-weight:700;
    text-shadow: rgb(148, 147, 147) 1px 0 1px;
    font-size: 10vmin;
    margin-bottom: 3rem;
    
}

.about-subtitle {
    position: absolute;
    top: 25vmin;
    left: 5rem;
    color: var(--third-color);
    font-size: 4vmin;
    font-weight:700;
    /*letter-spacing: 0.15em;*/
    text-shadow: rgb(134, 133, 133) 1px 0 1px;
    
}

.parag{
    
    margin: 5rem;
    margin-right: 10rem;
    margin-left: 10rem;
}
